* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
    text-transform: uppercase;
    font-size: 2.2em;
    position: relative;
    display: inline-block;
}

h2::after {
    content: '';
    top: 45px;
    left: 25%;
    width: 50%;
    height: 3px;
    background: black;
    display: block;
    position: absolute;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    text-align: center;
}

.content {
    text-align: center;
}

h2 {
    font-size: 40px;
}


/* Landing Page */
#home {
    height: 100vh;
}

#background {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; 
    -webkit-perspective: 100px; 
            perspective: 100px;
    -webkit-filter: contrast(110%);
            filter: contrast(110%);
}

#background::before {
    content: '';
    -webkit-animation: img-slide-down 1s 0.5s ease-out forwards;
            animation: img-slide-down 1s 0.5s ease-out forwards;
    opacity: 0;
    background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.1)), url('./image/background-compressor.jpg');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1))), url('./image/background-compressor.jpg');
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1)), url('./image/background-compressor.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.animation-pop-in {
    -webkit-animation: pop-in 1s ease-out forwards;
            animation: pop-in 1s ease-out forwards;
    opacity: 0;
}

.home-wrapper {
    margin-bottom: 80px;
}

.home-contact a {
    text-decoration: none;
    color: #696969;
}

.home-contact i {
    font-size: 32px;
    margin: 10px;
    animation-delay: 1.2s;
}

h1 {
    color: #696969;
    font-size: 2.3em;
}

.name {
    color: #51BE95;
}

.header-title {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}

.header-subtitle {
    margin-top: 5px;
    color: #696969;
    font-size: 1.3em;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}

.header-button {
    position: absolute;
    bottom: 0;
    font-size: 40px;
    color: #51BE95;
    margin-bottom: 80px;
    cursor: pointer;
    opacity: 0;
    -webkit-animation: pop-in 1s ease-out forwards, up-and-down 1s infinite alternate;
            animation: pop-in 1s ease-out forwards, up-and-down 1s infinite alternate;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
}

@-webkit-keyframes img-slide-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes img-slide-down {
    from {
        opacity: 0;
        -webkit-transform: translateY(-4rem);
                transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@-webkit-keyframes pop-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-2rem) scale(0.8);
                transform: translateY(-2rem) scale(0.8);
    }
    to {
        opacity: 1;
        /* -webkit-transform: none; */
                transform: translateY(50em);
    }
}

@keyframes pop-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-2rem) scale(0.8);
                transform: translateY(-2rem) scale(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@-webkit-keyframes up-and-down {
    from {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes up-and-down {
    from {
        -webkit-transform: translateY(-20px);
                transform: translateY(-20px);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}



/* Nav */
nav {
    height: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(27, 36, 47);
    top: 0;
    width: 100%;
    border-bottom: 3px solid #51BE95;
    z-index: 1;
    position: relative;
}

.current-page {
    color: #51BE95;
}

.fixed-nav {
    position: fixed;
}

.burger {
    width: 10%;
    margin-left: 20px;
    cursor: pointer;
}

.burger div {
    text-align: center;
    height: 3px;
    width: 27px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.toggleBurger .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        -ms-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
        -ms-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
}

ul {
    background-color: rgb(58, 58, 58);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    width: 100%;
    top: 6vh;
    /* display: none; */
    -webkit-animation: navFade-portrait 0.5s forwards ease-in-out;
            animation: navFade-portrait 0.5s forwards ease-in-out;
}

ul li {
    margin: 1em;
    opacity: 0;
}

ul li a {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(245, 245, 245);
}

.hide-on-mobile {
    display: none;
}

ul li a:hover {
    color: #51BE95;
}

@-webkit-keyframes navFade-portrait {
    from {
        height: 0;
    }
    to {
        height: 35vh;
    }
}

@keyframes navFade-portrait {
    from {
        height: 0;
    }
    to {
        height: 35vh;
    }
}

@-webkit-keyframes navFade-landscape {
    from {
        height: 0;
    }
    to {
        height: 70vh;
    }
}

@keyframes navFade-landscape {
    from {
        height: 0;
    }
    to {
        height: 70vh;
    }
}

@-webkit-keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: -webkit-transform 1s ease-out;
                transition: -webkit-transform 1s ease-out;
                -o-transition: transform 1s ease-out;
                transition: transform 1s ease-out;
                transition: transform 1s ease-out, -webkit-transform 1s ease-out
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
                -webkit-transition: -webkit-transform 1s ease-out;
                transition: -webkit-transform 1s ease-out;
                -o-transition: transform 1s ease-out;
                transition: transform 1s ease-out;
                transition: transform 1s ease-out, -webkit-transform 1s ease-out
    }
}


/* About Page */
#about {
    max-height: 84vh;
    padding: 8vh 0;
    background-color: rgb(245, 245, 245);
    display: inline-block;
}

#about .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
}

#about img {
    margin-top: 3em;
    width: 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

#about p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1.2em 3em;
    margin-top: -1em;
    line-height: 2em;
}



/* Projects Page */
#projects {
    min-height: 100vh;
    padding: 8vh 0;
}

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.project1 {
    margin: 3em 0 3em 0;
    text-align: center;
}

.first-half {
    width: 90%;
    position: relative;
    background: black;
}

.screenshot {
    width: 100%;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -o-object-fit: cover;
       object-fit: cover;
    
}

.project-text {
    width: 80%;
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    display: inline-block;
}

.language-used {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    opacity: 0;
}

.language-used h4 {
    border: 1px solid darkgrey;
    border-radius: 10%;
    background-color: rgb(100, 100, 100);
    padding: 2px 6px;
    font-size: 15px;
    display: inline-block;
    margin-top: 10px;
    cursor: default;
}

.second-half {
    width: 90%;
    color: rgb(226, 226, 226);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.first-project-text {
    background-color: #5B788A;
}

.second-project-text {
    background-color: #2E2E2E;
}

.project-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.btn {
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    width: 6em;
    padding: 4px 0;
    /* margin: 0 15px; */
    background: none;
    font-size: 0.9em;
    font-family: "montserrat";
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
    text-decoration: none;
}

/* .inactiveLink {
    pointer-events: none;
    cursor: default;
    border: 2px solid #cccccc;
    color: #f5f5f5;
    background: #cccccc;
} */

.btn2 {
    background: #2E2E2E;
    border: 2px solid #f5f5f5;
}

/* .inactiveLink {
    pointer-events: none;
    cursor: default;
    border: 2px solid #cccccc;
    color: #f5f5f5;
    background: #cccccc;
} */

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
    background: #f5f5f5;
}

.btn2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
    background: #f5f5f5;
}

.btn1:hover {
    color: #5B788A;
}

.btn2:hover {
    color: #2E2E2E;
}

.btn:hover::before {
    height: 200%;
}

.first-half:hover .language-used {
    opacity: 1;
}
.first-project-img:hover .ss1 {
    opacity: 0.8;
}
.second-project-img:hover .ss2 {
    opacity: 0.8;
}



/* Contact Page */
#contact {
    min-height: 92vh;
    padding-top: 8vh;
    background: #BBD0E0;
    position: relative;
}

#contact h2 {
    color: rgb(27, 36, 47);
}

#contact h2::after {
    background: rgb(27, 36, 47);
}

h5 {
    margin: 10% 0;
    line-height: 20px;
    color: #696969;
    font-size: 14px;
}

form {
    margin: 8% auto 0 auto;
    width: 100%;
}

.form-wrapper {
    background: green;
    width: 100%;
}

.input-field {
    margin-bottom: 5px;
}

.input-field input, textarea {
    width: 80%;
    border: 1px solid #e0e0e0;
    padding: 10px;
    background: #f5f5f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
    height: 130px;
}

.submit-btn {
    outline:none;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
    background: #51BE95;
    border: none;
    color: #f5f5f5;
    letter-spacing:1px;
    /* text-shadow:0; */
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* transition: all 0.25s ease; */
}

footer {
    width: 100%;
    height: 30%;
    /* background:yellow; */
    border-top: 2px dashed white;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h3 {
    margin: 10px;
    color: #696969;
}

.contact-method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-method i {
    font-size: 2em;
    margin: 20px;
    color: #f5f5f5;
}





/* iphone 6/7/8 */
@media screen and (max-width: 415px) and (max-height: 750px) and (orientation: portrait) {
    nav {
        height: 7vh;
    }
    ul {
        top: 7vh;
    }
    footer {
        height: 25%; 
    }
}

@media screen and (max-width: 375px) and (max-height: 750px) and (orientation: portrait) {
    ul li {
        margin: 0.5em;
    }
    ul li a {
        font-size: 14px;
    }
    #about {
        padding: 9vh 0;
    }
    #projects {
        padding: 9vh 0;
    }
    #contact {
        height: 91vh;
        padding-top: 9vh;
    }
    #about p {
        padding: 1.2em 3em;
        line-height: 1.7em;
        font-size: 15px;
    }
    nav {
        height: 7.5vh;
    }
    ul {
        top: 7.5vh;
    }
    footer {
        height: 20%; 
    }
}

/* iphone 5/SE */
@media screen and (max-width: 350px) and (orientation: portrait) {
    h1 {
        font-size: 2em;
    }
    .header-subtitle {
        font-size: 1em;
    }
    .header-button {
        font-size: 35px;
    }
    nav {
        height: 8vh;
    }
    ul {
        top: 8vh;
    }
    h2 {
        font-size: 1.8em;
    }
    h2::after {
        top: 40px;
    }
    #about p {
        font-size: 13px;
        line-height: 1.7em;
    }
    textarea {
        height: 100px;
    }
    .input-field input, textarea {
        padding: 5px 10px;
    }
    footer {
        height: 24%; 
    }
}

@media screen and (min-width: 568px) and (orientation: landscape) {
    .home-wrapper {
        margin-bottom: 0;
    }
    .header-button {
        font-size: 30px;
        margin-bottom: 50px;
    }
    h2 {
        font-size: 1.8em;
        margin-top: 30px;
    }
    h2::after {
        top: 35px;
    }
    #about .content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 6%;
        padding: 0 5% 0 6%;
    }
    #about img {
        width: 30%;
        margin: 0;
    }
    #about p {
        margin: 0;
        padding: 0 3%;
        font-size: 12px;
        line-height: 1.7em;
    }
    nav {
        height: 13vh;
    }
    ul {
        /* position: relative; */
        top: 13vh;
        -webkit-animation: navFade-landscape 0.5s forwards ease-in-out;
                animation: navFade-landscape 0.5s forwards ease-in-out;
    }
    ul li {
        margin: 0.8em;
    }
    .burger {
        width: 7%;
    }
    #projects .content {
        margin: 0 auto;
        width: 90%;
    }
    h5 {
        margin: 5% 0;
    }
    form {
        margin-top: 5%;
    }
    .input-field input, textarea {
        width: 65%;
    }
    .contact-method i {
        font-size: 2.2em;
    }
    footer {
        position: relative;
        margin-top: 5%;
    }
}

@media screen and (min-width: 736px) and (orientation: landscape) {
    nav {
        height: 12.5vh;
    }
    ul {
        top: 12.5vh;
    }
    .burger {
        width: 5%;
    }
    #about p {
        font-size: 15px;
    }
    .input-field input, textarea {
        width: 60%;
    }
    footer {
        margin-top: 2%;
    }
}

/* @media screen and (min-width: 1000px) and (orientation: landscape) {
    .header-button {
        font-size: 40px;
    }
    ul {
        
    }
} */

/* ipad */
@media screen and (min-width: 700px) and (orientation: portrait) {
    h1 {
        font-size: 3em;
    }
    .header-subtitle {
        font-size: 1.5em;
    }
    .header-button {
        font-size: 45px;
    }
    h2 {
        margin-bottom: 1em;
    }
    nav {
        height: 5vh;
    }
    ul {
        top: 5vh;
    }
    .burger {
        width: 5%;
    }
    #about img {
        width: 40%;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    #about p {
        font-size: 20px;
        line-height: 1.7em;
    }
    #projects .content {
        margin: 0 auto;
        width: 95%;
    }
    .project1 {
        margin-bottom: 4em;
    }
    .language-used h4 {
        font-size: 18px;
        padding: 5px 8px;
    }
    .project-text {
        font-size: 20px;
    }
    .btn {
        padding: 5px 0;
        font-size: 20px;
    }
    h5 {
        margin: 1% 0;
    }
    form {
        margin-top: 5%;
    }
    .input-field input, textarea {
        width: 60%;
    }
}


/* bigger ipad */
@media screen and (min-width: 900px) {
    h2 {
        font-size: 2.5em;
    }
    h2::after {
        top: 50px;
    }
    #about p {
        width: 80%;
    }
    .project1 {
        margin-bottom: 5em;
    }
    .contact-method i {
        font-size: 3.5em;
    }
    .contact-method a {
        font-size: 1.3em;
        margin: 0;
    }
    .hide-on-desktop {
        display: none;
    }
    .hide-on-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .header-button:hover i {
        transform: none;
        transition: none;
    }
    nav {
        height: 6vh;
    }
    ul {
        position: relative;
        top: 0;
        background: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 55%;
        margin-left: 50px;
        -webkit-animation: none;
                animation: none;
    }
    ul li {
        margin: 0;
        padding: 1em 0;
        opacity: 1;
    }
    h5 {
        font-size: 18px;
    }
    textarea {
        height: 200px;
    }
    .input-field input, textarea {
        width: 40%;
    }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
    /* #about {
        height: 84vh;
    } */
    #about .content {
        margin: 0 auto;
        width: 83%;
    }
    h1 {
        font-size: 3em;
    }
    .header-subtitle {
        font-size: 1.6em;
    }
    .header-button {
        font-size: 45px;
    }
    h2 {
        margin-bottom: 1em;
    }
    #about p {
        font-size: 19px;
        text-align: left;
    }
    .project-text {
        font-size: 18px;
    }
    .btn {
        padding: 7px 0;
        font-size: 18px;
    }
    .input-field input, textarea {
        width: 500px;
    }
    textarea {
        height: 130px;
    }
    h5 {
        margin: 0px;
        font-size: 1em;
    }
    form {
        margin-top: 2em;
    }
    footer{
        position: absolute;
        height: 25%;
    }
    .contact-method i {
        font-size: 2em;
    }
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
    nav {
        height: 4vh;
    }
}

@media screen and (min-width: 1300px) {
    .header-button {
        font-size: 45px;
    }
    .header-button:hover i {
        transform: scale(1.5);
        transition: transform 0.5s ease-in-out;
    }
    nav {
        height: 6vh;
    }
    ul {
        width: 40%;
        margin-left: 10%;
    }
    #about .content {
        margin: 0 auto;
        width: 75%;
    }
    #about p {
        font-size: 24px;
    }
    #projects .content {
        margin: 0 auto;
        width: 70%;
    }
    .project {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: initial;
            -ms-flex-align: initial;
                align-items: initial;
        width: 100%;
        margin: 100px auto;
    }
    .second-half {
        width: 40%;
    }
    .project-button {
        width: 85%;
    }
    .btn {
        padding: 5px 0;
    }
    #contact {
        min-height: 0;
        height: 92vh;
    }

    textarea {
        height: 150px;
    }
    footer {
        height: 25%;
    }
    footer h3 {
        font-size: 1.5em;
    }
    .contact-method i {
        font-size: 2.3em;
    }
}

@media screen and (min-width: 1500px) {
    .project-button {
        margin: 40px 0 0 0;
    }
    ul {
        width: 35%;
    }
}