* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



/* Home Page CSS */
#background {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transform-style: preserve-3d; 
    perspective: 100px;
    filter: contrast(110%);
}

#background::before {
    content: '';
    animation: img-slide-down 1s 0.5s ease-out forwards;
    opacity: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1)), url('./image/background.jpg');
    background-size: cover;
    /* background-position: center; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#home h1 {
    color: #696969;
    font-size: 50px;
    line-height: 1.2;
}

#home .name {
    color: #51BE95;
}

#home p {
    color: #696969;
    font-size: 20px;
}

.header-button {
    font-size: 18px;
    text-decoration: none;
    color: #696969;
    border: 2px solid #696969;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

.header-button:hover {
    background: #696969;
    color: white;
}

.animation-pop-in {
    animation: pop-in 1s ease-out forwards;
    opacity: 0;
}

.header-title {
    animation-delay: .8s;
}

.header-subtitle {
    animation-delay: 1s;
}

.header-button {
    animation-delay: 1.2s;
}

@keyframes img-slide-down {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes pop-in {
    from {
        opacity: 0;
        transform: translateY(-2rem) scale(0.8);
    }
    to {
        opacity: 1;
        transform: none;
    }
}



/* Nav CSS */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background: rgba(27, 36, 47);
    border-bottom: 3px solid #51BE95;
    
}

.nav-active {
    transform: translateX(0%);
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 2s;
    z-index: 1;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
    transition: all 0.5s;
}

.logo:hover {
    color: #51BE95;
}
  
ul {
    width: 30%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}

ul li {
    list-style: none;
}

ul li a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;
}

ul li a:hover {
    color: #51BE95;
    font-size: 18px;
    text-decoration: underline;
    transition: 0.5s;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.5s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}



/* About Page CSS */
#about {
    padding: 8vh;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h1 {
    flex: 1;
    display: inline-block;
    text-transform: uppercase;
    padding: 30px;
    position: relative;
    opacity: 0;
}

#about h1::after {
    content: '';
    left: -50%;
    opacity: 0;
    width: 50%;
    height: 3%;
    background: black;
    display: block;
    position: absolute;
}

#about .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #f5f5f5;
    opacity: 0;
}

#about p {
    font-size: 20px;
    padding-right: 20px;
    text-align: left;
}

#about img {
    width: 40%;
}

.about-landing::after{
    animation: line-slide-in 1s ease-out forwards;
}

.animation-slide-in {
    animation: content-slide-in 1s ease-out forwards;
    opacity: 0;
}

.animation-slide-in-right {
    animation: title-slide-in-right 1s ease-out forwards;
    opacity: 0;
}

.about-text {
    animation-delay: .8s;
}
.about-img {
    animation-delay: 0.6s;
}

@keyframes line-slide-in {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(150%);
    }
}
@keyframes content-slide-in {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes title-slide-in-right {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: none;
    }
}



/* Projects Page CSS */
#projects {
    padding: 8vh;
    min-height: 100vh;
    text-align: center;
    /* background: white; */
}

#projects .content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects h1 {
    flex: 1;
    display: inline-block;
    text-transform: uppercase;
    padding: 30px;
    position: relative;
    opacity: 0;
}

#projects h1::after {
    content: '';
    left: -50%;
    opacity: 0;
    width: 50%;
    height: 3%;
    background: black;
    display: block;
    position: absolute;
}

.projects-landing::after{
    animation: line-slide-in 1s ease-out forwards;
}

.project1 {
    display: flex;
    margin: 0 180px 100px 180px;
    justify-content: center;
    align-items: center;
    color: rgb(226, 226, 226);
    background: #5B788A;
    opacity: 0;
}

.card1 {
    z-index: 0;
    position: relative;
    width: 100%;
    background: black;
}

.card2 {
    z-index: 0;
    position: relative;
    width: 100%;
    background: black;
}

#projects h4 {
    border: 1px solid darkgrey;
    border-radius: 10%;
    background-color: rgb(100, 100, 100);
    padding: 0 6px;
    display: inline-block;
    margin-top: 30px;
    cursor: default;
}

.card1_text, .card2_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    color: rgb(226, 226, 226);
    opacity: 0;
    transition: opacity ease-out 250ms;
}

.card1:hover .card1_text{
    opacity: 1;
}

.card2:hover .card2_text {
    opacity: 1;
}

#projects .box1 {
    display: block;
    width: 100%;
    opacity: 1;
    object-fit: cover;
}

#projects .card1:hover .box1 {
    opacity: 0.8;
    transition: ease 1s;
}

#projects .card2:hover .box2{
    opacity: 0.8;
    transition: ease 1s;
}

.text1, .text2 {
    width: 50%;
    text-align: left;
    padding: 0 30px;
    color: rgb(226, 226, 226);
}

.text1 ol {
    list-style-type: none;
}

.text2 ol {
    list-style-type: none;
}

.project2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 180px;
    color: rgb(226, 226, 226);
    background: #2E2E2E;
    opacity: 0;
}

#projects .box2 {
    display: block;
    width: 100%;
    opacity: 1;
    object-fit: cover;
}

.btn {
    border: 2px solid #5B788A;
    margin-top: 60px;
    background: none;
    font-size: 20px;
    font-family: "montserrat";
    font-weight: bold;
    cursor: pointer;
    color: #5B788A;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 0;
    display: block;
    text-decoration: none;
}

.btn2 {
    border: 2px solid #2E2E2E;
    color: #2E2E2E;
}

.btn:hover {
    color: rgb(226, 226, 226);
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #5B788A;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
    background: #2E2E2E;
}

.btn:hover::before {
    height: 180%;
}


/* Contact Page */
#contact {
    padding: 8vh;
    height: 100vh;
    text-align: center;
    background: #f5f5f5;
}

#contact h1 {
    flex: 1;
    display: inline-block;
    text-transform: uppercase;
    padding: 30px;
    position: relative;
    opacity: 0;
}

#contact h1::after {
    content: '';
    left: -50%;
    opacity: 0;
    width: 50%;
    height: 3%;
    background: black;
    display: block;
    position: absolute;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.contact-method i {
    font-size: 70px;
    margin-bottom: 5px;
}
.contact-method a {
    text-decoration: none;
    color: #51BE95;
    width: 200px;
}
.contact-method a:hover {
    text-decoration: underline;
}

/* .background {
    width: 100vw;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}
.bg1 {
    background: green;
}
.bg2 {
    background: rgb(150, 72, 72);
}
.bg3 {
    background: green;
}
.github {
    text-align: center;
    background: gray;
    width: 15%;
    margin: 0;
    padding: 50px;
}
.linkedin {
    text-align: center;
    background: gray;
    width: 15%;
    margin: 0;
    padding: 50px;
}
.email {
    text-align: center;
    background: gray;
    width: 15%;
    margin: 0;
    padding: 50px;
} */



/* Responsive Fix */
@media (min-width: 1700px) {
    ol{
        display: inline;
    }
    ol::before {
        content:"\a";
        white-space: pre;
    }
}

@media (max-width: 1700px) {
    ul {
        width: 40%;
    }
    #about img {
        width: 43%;
    }
    .project1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects .box1 {
        width: 100%;
    }
    .text1, .text2 {
        width: 100%;
    }
    .text {
        padding-bottom: 20px;
    }
    .btn1, .btn2 {
        margin-top: 80px;
    }
    .btn2 {
        margin-left: 2px;
    }
    .project2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #projects .box2 {
        width: 100%;
    }
}

@media (max-width: 1400px) {
    #about .content {
        height: 80vh;
    }
    .text1, .text2 {
        font-size: 15px;
    }
    .btn {
        font-size: 20px;
        /* margin-right: 40px; */
    }
}

@media (max-width: 1250px) {
    ul {
        width: 50%;
    }
    #about .content {
        display: flex;
        flex-direction: column;
        height: 70vh;
    }
    #about p {
        text-align: center;
        order: 2;
    }
    #about img {
        width: 45%;
        order: 1;
    }
    .btn1, .btn2 {
        margin-top: 30px;
    }    
}

@media (max-width: 1024px) {
    ul {
        width: 65%;
    }
    .card1 {
        width: 130%;
    }
    #projects .box1 {
        width: 100%;
    }
    .text1 {
        width: 130%;
        background: #5B788A;
    }
    .text2 {
        width: 130%;
        background: #2E2E2E;
    }
    .card2 {
        width: 130%;
    }
    #projects .box2 {
        width: 100%;
    }
    .card1_text, .card2_text {
        font-size: 12px;
    }
    .card1:active .card1_text{
        opacity: 1;
    }
    .card2:active .card2_text {
        opacity: 1;
    }
    #projects .card1:active .box1 {
        opacity: 0.8;
        transition: ease 1s;
    }
    #projects .card2:active .box2{
        opacity: 0.8;
        transition: ease 1s;
    }
    #projects h4 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .btn{
        font-size: 15px;
        margin-top: 0;
    }
}

@media (max-width: 786px) {
    .btn2 {
        margin-top: -17px;
    }
}

/* Phone Size */
@media (max-width: 768px) {
    body, .container {
        overflow-x: hidden;
    }
    ul {
        position: absolute;
        right: 0;
        height: 80vh;
        top: 107vh;
        color: black;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .burger {
        display: block;
    }
    ul li {
        opacity: 0;
    }
    .fixed-nav ul {
        position: fixed;
        top: 7vh;
    }

    .card1 {
        width: 400px;
    }
    #projects .box1 {
        width: 100%;
        /* object-fit: cover; */
    }
    .text1, .text2 {
        width: 400px;
        /* white-space: nowrap; */
    }
    .card2 {
        width: 400px;
    }
    #projects .box2 {
        width: 100%;
    }
    .btn2 {
        margin-top: 0;
    }
    
}

